<div id="users" class="min-w-full">
  <h1 class="text-gray-500 text-3xl tracking-tighter items-center pt-1 font-bold">Leaderboard</h1><br>

  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="display" id="leaderboard" style="width:100%">
            <thead class="bg-gray-50 min-w-full divide-y divide-gray-300">
              <tr>
                <th scope="col" class="underline px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">&nbsp;</th>
                <th scope="col" class="underline px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total Sets Played</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total Sets Won</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Sets Win Ratio (SWR)</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Tournaments Played</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Tournaments Won</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Tournaments Win Ratio (TWR)</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% players&.each do |user| %>
                <tr 
                  class="bg-grey" 
                >

                  <td class="px-1 py-1 whitespace-nowrap text-sm font-sm text-gray-900">
                    <div class="relative aspect-square bg-gray-300 rounded-[50%] flex justify-center items-center text-[10px] mt-0 w-12 h-12 border-2 border-gray-600 text-gray-600">
                      <% if user[0].attached? %>
                        <%= image_tag(user[0], class: 'rounded-[50%] absolute top-0 bottom-0 left-0 right-0 w-12 h-11 object-cover object-center') %>
                      <% else %>
                        <%= user[3] %>
                      <% end %>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user[1] %></td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user[2][:sets_played] if user[2][:sets_played] != 0 %></td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user[2][:sets_won] if user[2][:sets_won] != 0 %></td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user[2][:sets_win_ratio] if user[2][:sets_win_ratio] != 0 && !user[2][:sets_win_ratio].nan? %></td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user[2][:tournaments_played] if user[2][:tournaments_played] != 0 %></td>                    
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user[2][:tournaments_won] if user[2][:tournaments_won] != 0 %></td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user[2][:tournaments_won_ratio] if user[2][:tournaments_won_ratio] != 0 && !user[2][:tournaments_won_ratio].nan? %></td> 
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<script>
  $(document).ready( function () {
    $('#leaderboard').dataTable( {
      columnDefs: [
        { orderable: false, targets: [0] }
      ],      
      order: [[4, 'desc']],
      dom: 'rtf'
    } );
  } );
</script> 
