<div class="devise-view" data-controller="invite">
  <div class="flex items-center min-h-screen">
    <div class="flex-1 h-full max-w-4xl mx-auto bg-white rounded-lg shadow-xl">
      <div class="flex flex-col md:flex-row">
        <div class="h-32 md:h-auto md:w-1/2">
          <%= image_tag "sign-up.jpg", class: "object-cover w-full h-full", alt: "Signup" %>
        </div>
        <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
          <div class="w-full">
            <h1 class="text-4xl text-center px-1 pt-1 font-bold">TourneyChamp</h1>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="py-4">
                <%= f.label :first_name, "First Name", class: "block text-sm" %>
                <%= f.text_field :first_name, autofocus: true, class: "w-full px-2 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-500" %>
              </div>
              <div class="pb-4">
                <%= f.label :last_name, "Last Name", class: "block text-sm" %>
                <%= f.text_field :last_name, class: "w-full px-2 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-500" %>
              </div>
              <div class="pb-4">
                <%= f.label :email, "Email", class: "block text-sm" %>
                <%= f.email_field :email, class: "w-full px-2 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-500" %>
              </div>
              <div class="pb-4">
                <%= f.label :password, "Password", class: "block text-sm", autocomplete: "new-password" %>
                <%= f.password_field :password, class: "w-full px-2 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-500" %>
              </div>
              <div class="pb-4">
                <%= f.label :password_confirmation, "Password Confirmation", class: "block text-sm", autocomplete: "new-password" %>
                <%= f.password_field :password_confirmation, class: "w-full px-2 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-500" %>
              </div>
              <div class="pb-4">
                <%= f.label :invite_code, "Invite Code?", class: "block text-sm" %>
                <% if @invite_code %>
                  <%= f.text_field :invite_code, value: @invite_code, readonly: true, class: "w-full px-2 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-500", data: {'invite-target': 'inviteCode', action: 'input->invite#lookupInviteCode' } %>
                <% else %>
                  <%= f.text_field :invite_code, class: "w-full px-2 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-500", data: {'invite-target': 'inviteCode', action: 'input->invite#lookupInviteCode' } %>
                <% end %>
              </div>
              <div class="pb-4 text-center text-sm hidden" data-invite-target="teamNameContainer">
                You will be joining <span data-invite-target="teamName" class="text-blue-500 font-bold"></span>.
              </div>
              <div class="pb-4 text-center text-sm text-red-500 hidden" data-invite-target="error">
                Invite code invalid.
              </div>
              <% if @invite_code %>
                <%= f.hidden_field :role, value: 'Player' %>
              <% else %>
                <div>
                  <%= f.label :role, "Select Your Role", class: "block text-sm" %>
                  <%= f.select :role, Role.where(show_on_signup_form: true).order(name: :desc).pluck(:name).map(&:capitalize), {}, { class: "w-full px-2 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-500" } %>
                </div>
              <% end %>
              <%= f.submit "Sign Up", class: "block w-full px-2 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-blue-500 border border-transparent rounded-lg active:bg-blue-500 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue" %>
            <% end %>
            <hr class="my-8" />
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
