<div class="max-h-80 overflow-y-auto">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="sticky bg-gray-50 top-0">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-1/4">Name</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-1/2">Description</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-1/4">Invite Code</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="divide-y">
      <% current_user.teams_coached.each do |t| %>
      <tr class="hover:bg-gray-100 <%= t.active? ? 'bg-white text-gray-900' : 'bg-gray-200 text-gray-400' %>">
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium hover:underline"><%= link_to t.name, edit_team_path(t.id) %></td>
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium"><%= t.description %></td>
        <td class="px-6 py-4 whitespace-nowrap text-lg font-medium flex flex-row gap-1" data-controller="clipboard">
          <input type="text" value="https://www.tourneychamp.com/users/sign_up?invite_code=<%= t.invite_code %>" readonly class="hidden" data-clipboard-target="source">
          <a href="javascript:void(0);" data-action="clipboard#copy" class="flex flex-row gap-2 text-blue-500 hover:underline hover:text-indigo-700"><%= t.invite_code %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-indigo-700 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z"/>
          </svg>
          </a>
          <span class="hidden opacity-100 font-normal" data-clipboard-target="copied">Copied!</span>
        </td>
        <td class="px-6 py-4 whitespace-nowrap gap-2">
          <a href="<%= edit_team_path(t.id) %>">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
          </a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>