<% if users.count > 0 %>
  <div id="users" class="min-w-full">
    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table id="usersTableX" class="min-w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="underline px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
                  <th scope="col" class="underline px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Active</th>
                  <th scope="col" class="underline px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Last Name</th>
                  <th scope="col" class="underline px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">First Name</th>
                  <th scope="col" class="underline px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Admin</th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Coach</th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Player</th>
                  <th scope="col" class="underline px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Last Login</th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Tourny #</th>
                  <th scope="col" class="relative px-6 py-3">
                    <span class="sr-only">&nbsp;</span>
                  </th>
                  <th scope="col" class="relative px-6 py-3">
                    <span class="sr-only">&nbsp;</span>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <% users&.each do |user| %>
                  <tr 
                    class="bg-grey" 
                    data-controller="user" 
                    data-user-id-value="<%= user.id %>" 
                    data-user-type-value="user"
                    data-user-name-value="<%= user.full_name_proper %>" 
                  >
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user.id %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user&.is_active %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user.last_name %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user.first_name %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user.email %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user.is_admin %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user.is_coach %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user.is_player %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user.last_sign_in_at %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                      <%= Tournament.where(created_by_id: user.id).count %>, <%= user.tournaments_array %>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                      <%= link_to "Edit", edit_user_path(user), class: "text-indigo-600 hover:text-indigo-900" %>
                    </td>
                    <% if user.is_active == true %>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        <button 
                          id="delete-button"
                          data-action="click->user#deactivate"
                          type="button" 
                          class="text-indigo-600 hover:text-indigo-900">
                          Deactivate
                        </button>
                      </td>                    
                    <% else %>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-300">
                      Deactivated
                      </td>
                    <% end %>

                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br>

 
<script>
  $(document).ready( function () {
    $('#usersTableX').dataTable( {
      columnDefs: [
        { orderable: false, targets: [9, 10, 11] }
      ],      
      order: [[8, 'desc']],
      dom: 'rtf',
      pageLength: 250,
    } );
  } );
</script> 