<li class="text-center bg-white rounded-lg shadow-lg divide-y divide-gray-200">
  <div class="flex-auto p-2">
    <div id="team-<%= team %>-player-<%= index %>-initials" class="player-initials team-<%= team %> w-2/3 h-2/3 mx-auto aspect-square bg-gray-300 rounded-[50%] flex justify-center items-center text-[50px] mt-6 border-4 border-gray-600 text-gray-600">
      <%= player[2] %>
    </div> 
    <h3 id="team-<%= team %>-player-<%= index %>-name" class="player-name team-<%= team %> mt-6 text-gray-900 text-xl font-medium"><%= player[1] %></h3>
  </div>
</li>