<!----------- tournament controls drawer ---------->
<div id="tournament-controls" class="fixed z-40 h-screen p-4 overflow-y-auto bg-white w-1/2 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-label">
  <h5 id="drawer-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400"><svg class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>Tournament Controls</h5>
  <button type="button" data-drawer-dismiss="tournament-controls" aria-controls="tournament-controls" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      <span class="sr-only">Close menu</span>
  </button>

  <span data-admin-target="timerWarning" style="display:none" class="mt-3 block text-sm font-medium text-gray-700 bg-gray-200"><i>Timer synchronizing with server...</i></span>
  <span data-admin-target="timerOffline" style="display:none" class="mt-3 block text-sm font-medium text-gray-700"><i>Timer is active on another tab or browser window.</i></span>
  <span class="mt-3 mb-3 block text-sm font-medium text-gray-700">
    <b>Match Time:</b> <%= @tournament&.match_time ? @tournament.match_time / 60 : 0 %> minutes<br>
    <b>Break Time:</b> <%= @tournament&.pre_match_time_formatted %><br> 
    <b>Tournament Time:</b> ~<%= @tournament&.total_tournament_time&.round %> minutes
  </span>

  <div class="grid grid-cols-3 gap-2">
    <button data-action="display#start" type="button" class="rounded-full px-5 py-2.5 mr-2 mb-1 border border-transparent text-sm font-medium text-black bg-green-200 hover:bg-green-300">Timer Start</button>
    <button data-action="display#pause" type="button" class="rounded-full px-5 py-2.5 mr-2 mb-1 border border-transparent text-sm font-medium text-black bg-yellow-200 hover:bg-yellow-300">Timer Pause</button>
    <button data-action="display#reset" type="button" class="rounded-full px-5 py-2.5 mr-2 mb-1 border border-transparent text-sm font-medium text-black bg-red-200 hover:bg-red-300">Timer Reset</button>
  </div>
  
  <!-- Scoring -->
  <h5 id="drawer-label" class="inline-flex items-center mt-6 mb-4 text-base font-semibold text-gray-500 dark:text-gray-400"><svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>&nbsp;Scoring Update</h5>     

  <div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <% team_count = [*1..@tournament.tournament_sets.where(court: @court_number).first.tournament_teams.first.users.count - 1] %>
        <tr>
          <th scope="col" class="py-3">&nbsp;</th>  
          <th scope="col" class="py-3">Match</th>
          <th colspan="3" scope="<%= team_count.count %>" class="py-3 px-6"><%= tournament.court_side_a_name %> Side</th>
          <th scope="col" class="py-3">Score</th>
          <th colspan="3" scope="<%= team_count.count %>" class="py-3 px-6"><%= tournament.court_side_b_name %> Side</th>
          <th scope="col" class="py-3">Score</th>
        </tr>
      </thead>
      <tbody class="">
        <% @tournament.current_round == 1 ? court_sets = @court_sets_round1 : court_sets = @court_sets_round2 %>
        <% court_sets.each do |tournament_set, i| %>
          <% team1 = tournament_set.tournament_teams.first.users %>
          <% team2 = tournament_set.tournament_teams.second.users %>
          <tr id="<%= tournament_set.number %>" data-display-target="matchRowSelected" class="bg-white dark:bg-gray-800">
            <td class="px-2 py-3">
             <input id="<%= tournament_set.number %>"type="radio" data-display-target="matchSelected" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
            </td>
            <td class="px-6"><%= tournament_set.number %></td>
            <% team1.each do |player| %>
              <td class="px-1"><%= player.name_abbreviated %></td>
            <% end %>
            <td class="px-6"><%= tournament_set.tournament_teams.first.score %></td>
            <% team2.each do |player| %>
              <td class="px-1"><%= player.name_abbreviated %></td>
            <% end %>
            <td class="px-6"><%= tournament_set.tournament_teams.second.score %></td>
          </tr>
        <% end %>

        <tr class="bg-white dark:bg-gray-800">
          <td class="inline-flex items-center mt-6 mb-4 text-base font-semibold text-gray-400 dark:text-gray-400">Scores:</td>
          <td class="px-2 py-3">&nbsp;</td>
          <td colspan="<%= @court_sets_round1.first.tournament_teams.first.users.count + 1 %>" class="py-3 pr-4">
            <input type="text" data-display-target="team1ScoreUpdate" class="w-full p-2.5 text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Score" required>
          </td>
          <td colspan="<%= @court_sets_round1.first.tournament_teams.first.users.count + 1 %>" class="py-3 pr-4">
            <input type="text" data-display-target="team2ScoreUpdate" class="w-full p-2.5 text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Score" required>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <!-- scoring submit -->
  <div class="mt-2">
    <div class="grid grid-cols-1">
      <button 
        type="submit" 
        data-action="display#drawerSubmitScoresClick"
        class="mt-4 text-white justify-center flex text-center bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"> 
        Submit Scores
      </button>
    </div>
  </div>        
  
  <!-- Court Selection -->
  <% if @tournament.courts >= 2 %>
    <h5 id="drawer-label" class="inline-flex items-center mt-6 text-base font-semibold text-gray-500 dark:text-gray-400"><svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>&nbsp;Court Selection</h5>        
    <div class="mt-2">
      <div class="grid grid-cols-2 gap-3">
        <button 
          type="button" 
          data-action="display#openCourtOneClick"
          class="rounded-lg px-5 py-2.5 mr-2 mb-2 border text-sm font-medium rounded text-black bg-gray-200 hover:bg-gray-300">
          Court 1
        </button>
        <button 
          type="button"
          data-action="display#openCourtTwoClick"
          class="rounded-lg px-5 py-2.5 mr-2 mb-2 border text-sm font-medium rounded text-black bg-gray-200 hover:bg-gray-300">
          Court 2
        </button>
      </div>          
    </div>
  <% end %>

  <!-- Match / Round Operations -->
  <h5 id="drawer-label" class="inline-flex items-center mt-6 text-base font-semibold text-gray-500 dark:text-gray-400"><svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>&nbsp;Match / Round Operations</h5>     
     
  <div class="mt-4">
    <div class="grid grid-cols-2 gap-3">
      <button
        data-action="display#editTournamentClick"
        type="button" 
        class="rounded-full py-2.5 mr-2 mb-2 border text-sm font-medium text-black bg-gray-200 hover:bg-gray-300">
        Edit Tournament
      </button>         
      <button
        data-action="display#backToTournamentsClick"
        type="button" 
        class="rounded-full py-2.5 mr-2 mb-2 border text-sm font-medium text-black bg-gray-200 hover:bg-gray-300">
        Back To Tournaments
      </button>         
    </div>           
  </div>     
</div>
