<ul role="list" class="min-w-full px-2 py-0 items-center grid grid-cols-7 gap-2">
  <% if court_number <= @tournament.courts %>
    <% court_number == 1 ? current_set_players = current_set_players_all[0] : current_set_players = current_set_players_all[1] %>
    <!-- Filler cards (depending on 2 or 3 athlete per side) -->
    <% if row_columns == 5 %>
      <li class="col-span-1 flex flex-col text-center bg-white divide-y divide-gray-200">&nbsp;</li>
    <% end %>

    <!-- Team 1 (left side) -->
    <%# binding.pry %>
    <% current_set_players[0].reject { |c| c.empty? }.each_with_index do |player, index| %>
      <%= render "card", court: court_number, player: player, index: index, team: 1 %>
    <% end %>

    <!-- Team 1 (work group middle) -->
    <li class="col-span-1 flex flex-col text-center bg-white divide-y divide-gray-200">
      <div class="flex-1 flex flex-col p-2">
        <%= image_tag('vs.png', class: 'mt-10') %>
        <% if tournament.work_group > 0 %>
          <h3 class="mt-6 text-gray-900 text-sm font-medium underline">Bystanders</h3>
        <% end %>
        <% current_set_players[2]&.each_with_index do |player, index| %>
          <h3 id="court-<%= court_number%>-work-player-<%= index %>" class="text-gray-900 text-sm font-medium"><%= player[1] %></h3>
        <% end %>
      </div>
    </li>

    <!-- Team 2 (right side) -->
    <% current_set_players[1].reject { |c| c.empty? }.each_with_index do |player, index| %>
      <%= render "card", court: court_number, player: player, index: index, team: 2 %>
    <% end %>

    <!-- Filler cards (depending on 2 or 3 athlete per side) -->
    <% if row_columns == 5 %>
      <li class="col-span-1 flex flex-col text-center bg-white divide-y divide-gray-200">&nbsp;</li>
    <% end %>
  <% end %>
</ul> 
