
<div class="mx-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="text-xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl">
    <span class="block text-indigo-700 md:inline"><%= @tournament.name %> : Round <%= round %></span>
  </h1>
  <h3 class="pb-6 text-md tracking-tight font-extrabold text-gray-900 sm:text-2xl md:text-3xl">
    <span class="block text-indigo-400 sm:inline"><%= @tournament.city %>, <%= @tournament.state %></span>
  </h3>       

  <%# tables %>
  <% if true # @tournament.users.count == 13 %>
    <div class="columns-2 space-y-32">
      <div class="">
        <%= render "table", name: names[0], tournament: tournament, court: 1, round: round, matches: @tournament.matches.where(court: 1, round: round) %>
      </div>
      <div class="">
        <%= render "table", name: names[1], tournament: tournament, court: 2, round: round, matches: @tournament.matches.where(court: 2, round: round) %>
      </div>
    </div>  
  <% end %>
  
  <%# buttons %>

  <div class="flex float-left space-x-4">
    <button onclick="display('all')" class="btn btn-outline btn-primary btn-sm">Display Courts</button>
    <button onclick="display('1')" class="inline-flex items-center px-2.5 py-1.5 btn btn-outline btn-primary btn-sm">Display Court One</button>
    <button onclick="display('2')" class="inline-flex items-center px-2.5 py-1.5 btn btn-outline btn-primary btn-sm">Display Court Two</button>
  </div>
  <div class="flex float-right space-x-4">
      <%= link_to 'Back to Tournaments', tournaments_path, class: "inline-flex items-center px-2.5 py-1.5 btn btn-outline btn-primary btn-sm" %>
      <%= link_to "Edit Tournament Info", edit_tournament_path(tournament), class: "inline-flex items-center px-2.5 py-1.5 btn btn-outline btn-primary btn-sm" %>
    <% if @round != 1 %> 
      <%= link_to "Round One", round_one_tournament_path(tournament), class: "inline-flex items-center px-2.5 py-1.5 btn btn-outline btn-primary btn-sm" %>
    <% end %>
    <% if @round!= 2 && tournament.rounds_configured.include?(2) %>
      <%= link_to "Round Two", round_two_tournament_path(tournament), class: "inline-flex items-center px-2.5 py-1.5 btn btn-outline btn-primary btn-sm" %>
    <% end %>
    <% if (round == 1 && !tournament.rounds_finalized.include?(1)) || (round == 2 && !tournament.rounds_finalized.include?(2)) %>
      <button onclick="updateScores('update')" class="inline-flex items-center px-2.5 py-1.5 btn btn-outline btn-primary btn-sm btn-error">Update Scores</button> 
    <% end %>
    <% if (round == 1 && !tournament.rounds_finalized.include?(1)) || (round == 2 && !tournament.rounds_finalized.include?(2)) %>
      <button onclick="updateScores('finalize')" class="inline-flex items-center px-2.5 py-1.5 btn btn-outline btn-primary btn-sm btn-error">Finalize Round <%= round %></button>
    <% end %>
  </div>
</div>

<script>
  function display(court) {
    if (court == 'all') {
      window.open("/tournaments/round_display/<%= @tournament.id %>/<%= round %>")
    } else {
      window.open("/tournaments/round_display_single/<%= @tournament.id %>/<%= round %>/" + court)
    }
  };

  function updateScores(finalize) {
    var score_data = $('input[name^=team-]').map(function(idx, elem) {
      return { team_id: $(elem).attr('id'), score: $(elem).val() }
    }).get();

    event.preventDefault();

    $.ajax({
        type: "POST",
        url: "/tournaments/<%= @tournament.id %>/team_scores_update",
        data: { score_data, finalize },
        success: function (response) {
          if (finalize == 'update') {
            location.reload(); 
          } else {
            window.location.href = "/tournament/process_round/<%= @tournament.id %>/<%= round %>";
          }
        }
    })
  };
</script>