<%= form_with(model: tournament, class: "contents") do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>
      <ul>
        <% tournament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="space-y-6">
  <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <label for="courts" id="players-label" class="block text-md font-medium text-gray-700">Players <span id="players-text" class="text-gray-400"></span>&nbsp;</label>
        <%= form.collection_check_boxes(:players, @available_players, :id, :full_name) do |player| %>
          <div class="py-0.5">
            <% if !tournament.rounds_configured.empty? %>
              <%= player.check_box(class: "w-4 h-4 rounded mx-0 opacity-50 cursor-not-allowed", disabled: true) %>
            <% else %>
              <%= player.check_box(class: "w-4 h-4 rounded mx-0") %>
            <% end %>
            <span class="text-sm font-medium text-gray-70 px-1 py-1"><%= player.text %></span>
          </div>
        <% end %>
        <div class="py-2">
          <button id="select-all" onclick="selectAll()" class="btn btn-outline btn-primary btn-xs">Select All</button>
          <button id="select-none" onclick="selectNone()" class="btn btn-outline btn-primary btn-xs">Select None</button>
        </div>
      </div>
      
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form action="#" method="POST">
          <div class="grid grid-cols-6 gap-6">           
            <div class="col-span-6 sm:col-span-6">
              <label for="name" class="block text-sm font-medium text-gray-700">Tournament Name</label>
              <%= form.text_field :name, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>

            <div class="col-span-6">
              <label for="street-address" class="block text-sm font-medium text-gray-700">Street Address</label>
              <%= form.text_field :address1, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>

            <div class="col-span-6 sm:col-span-6 lg:col-span-2">
              <label for="city" class="block text-sm font-medium text-gray-700">City</label>
              <%= form.text_field :city, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
              <label for="region" class="block text-sm font-medium text-gray-700">State / Province</label>
              <%= form.text_field :state, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-2">
              <label for="postal-code" class="block text-sm font-medium text-gray-700">Postal code</label>
              <%= form.text_field :zip, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-3">
              <label for="court-names" class="block text-sm font-medium text-gray-700">Court Names (space separated)</label>
              <%= form.text_field :court_names, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>

            <div class="col-span-6 sm:col-span-3 lg:col-span-3">
              <label for="time" id="time" class="block text-sm font-medium text-gray-700">Tournament Time (minutes)<span class="text-gray-400"></span></label>
              <%= form.select :time, @times, { :placeholder => "Please Select" }, multiple: false, id: "time", class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:border-indigo-500 sm:text-sm rounded-md" %>        
            </div>            
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="flex justify-end space-x-3">
    <%= link_to "Back to Tournaments", tournaments_path, class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    <button type="submit" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
  </div>
</div>

<% end %>

<script>
  $(document).ready(function() { 
    $("input:checkbox").change(function() {

      let playersSelected = document.querySelectorAll('input[type="checkbox"]:checked').length;
      $('#players-label').text(`Players (${playersSelected} selected)`);
    }); 

    // Add code leveraging above to indicate number of courts
  });
  
  function selectNone() {
    var checkboxes = $( "[type=checkbox]" );
    checkboxes.prop('checked', $(this).is(':checked'));
    event.preventDefault();
  };

  function selectAll() {
    var checkboxes = $( "[type=checkbox]" );
    checkboxes.prop('checked', !$(this).is(':checked'));
    event.preventDefault();
  };
</script>
