<div class="text-md font-medium text-gray-800">
  Tournament time: <span id="tourny-time">--</span><br>
    <div id="duplicate-notice" class="text-rose-500">&nbsp;</div>
</div>

<%= form_with(model: tournament, class: "contents", id: "adhoc-form") do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>
      <ul>
        <% tournament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="adhoc" class="space-y-6" data-adhoc-courts-value="<%= @tournament.courts %>">
    <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <% if action_name == "new" %>
          <%= render "form_adhoc_players", form: form %>
        <% else %>
          <div class="mt-5 md:mt-0 md:col-span-2">
            <h3 class="block text-md font-medium text-gray-900">
              Tournament Players: <%= @player_names.join(", ") %> 
            </h3>
          </div>
        <% end %>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <form action="#" method="POST">
            <div class="grid grid-cols-6 gap-3 p-2">
              <div class="col-span-6 sm:col-span-6">
                <label for="name" class="block text-sm font-medium text-gray-700">Tournament Name</label>
                <%= form.text_field :name, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>

              <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                <%= form.text_field :city, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="region" class="block text-sm font-medium text-gray-700">State / Province</label>
                <%= form.text_field :state, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="postal-code" class="block text-sm font-medium text-gray-700">Postal code</label>
                <%= form.text_field :zip, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                <label for="tournament-time" class="block text-sm font-medium text-gray-700">Tournament Time (minutes)<span class="text-gray-400"></span></label>
                <%= form.select :tournament_time, @tournament_times, { :placeholder => "Please Select" }, 
                  data: { action: "change->adhoc#timeSelects" }, 
                  id: "tournament-time", 
                  class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:border-indigo-500 sm:text-sm rounded-md"
                %>
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                <label for="break-time" class="block text-sm font-medium text-gray-700">Tournament Break Time (minutes)<span class="text-gray-400"></span></label>
                <%= form.select :break_time, @break_times, { :placeholder => "Please Select" }, 
                  data: { action: "change->adhoc#timeSelects" }, 
                  id: "break-time", 
                  class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:border-indigo-500 sm:text-sm rounded-md"
                %>
              </div>

              <div data-adhoc-target="court-1" id="court-1-container" class="col-span-6 sm:col-span-6 lg:col-span-3">
                <label for="courts" class="block text-sm font-medium text-gray-700">Court 1 Name</label>
                <%= form.text_field :court_1_name, id: "court-1-name", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>
              <div data-adhoc-target="court-2" id="court-2-container" class="col-span-6 sm:col-span-6 lg:col-span-3">
                <label for="courts" class="block text-sm font-medium text-gray-700">Court 2 Name</label>
                <%= form.text_field :court_2_name, id: "court-2-name", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>
              <div data-adhoc-target="court-3" id="court-3-container" class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label for="courts" class="block text-sm font-medium text-gray-700">Court 3 Name</label>
                <%= form.text_field :court_3_name, id: "court-3-name", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>            
              <div data-adhoc-target="court-4" id="court-4-container" class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label for="courts" class="block text-sm font-medium text-gray-700">Court 4 Name</label>
                <%= form.text_field :court_4_name, id: "court-4-name", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>
              <div data-adhoc-target="court-5" id="court-5-container" class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label for="courts" class="block text-sm font-medium text-gray-700">Court 5 Name</label>
                <%= form.text_field :court_5_name, id: "court-5-name", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>
              <div data-adhoc-target="court-6" id="court-6-container" class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label for="courts" class="block text-sm font-medium text-gray-700">Court 6 Name</label>
                <%= form.text_field :court_6_name, id: "court-6-name", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>            
            </div>
              
            <div class="grid grid-cols-6 gap-3 p-2">
              <div id="court-side-a" class="col-span-6 sm:col-span-6 lg:col-span-3">
                <label for="courts" class="block text-sm font-medium text-gray-700">Court Side A Name</label>
                <%= form.text_field :court_side_a_name, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>
              <div id="court-side-b" class="col-span-6 sm:col-span-6 lg:col-span-3">
                <label for="courts" class="block text-sm font-medium text-gray-700">Court Side B Name</label>
                <%= form.text_field :court_side_b_name, id: "court-2-name", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>                                   
            </div>

            <%= form.hidden_field :adhoc, value: true %>
          </form>
        </div>
      </div>
    </div>

    <div class="flex justify-end space-x-3">
      <%= link_to "Back to Tournaments", tournaments_path, class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <button 
        id="save-button"
        data-action="click->adhoc#submit"
        type="button" 
        class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Save
      </button>
    </div>
  </div>
<% end %>
