<h1 class="block text-md font-medium text-gray-800">
  Total Tournament Time: <span id="tourny-time">0</span><br><span class="text-rose-500" id="max-players">&nbsp;</span>
</h1>

<%= form_with(model: tournament, class: "contents") do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>
      <ul>
        <% tournament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :base_team_id, value: @team_id || form.object.base_team_id  %>
  <div class="space-y-6">
    <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1 overflow-y-auto border-[1px] p-2">
          <label for="courts" id="players-label" class="block text-md font-medium text-gray-700">Players <span id="players-text" class="text-gray-400"></span>&nbsp;</label>     
          <% if !params[:action] == "new" || @tournament_configured == true %>
            <br><label class="block text-sm font-medium text-red-700">Tournament rounds generated, no editing of Players allowed.</span>&nbsp;</label>
          <% end %>
          <% @tournament_configured ? player_list = tournament.users : player_list = @available_players %>
          <%= form.collection_check_boxes(:players, player_list, :id, :full_name, disabled: @tournament_configured) do |player| %>
            <%= player.label class:"text-sm font-medium text-gray-70 py-1" do %>
              <% if @tournament_configured %>
                <%= player.check_box(class: "w-4 h-4 rounded mx-0 ml-1 mr-1", disabled: true) %>
                <%= hidden_field_tag "tournament[players][]", player.object.id, value: player.object.id  %>
                <%=%>
              <% else %>
                <%= player.check_box(class: "w-4 h-4 rounded mx-0 ml-1 mr-1") %>
              <% end %>
                <% if player.object.is_one_off %>
                  <%# binding.pry %>
                  <span class="text-gray-600 font-medium"><%= player.text %>  [One-Off]</span>
                <% else %>
                  <span class="text-black font-medium"><%= player.text %></span>
                <% end %>

              
              <br />
            <% end %>
          <% end %>
          <div class="py-2">
            <% if !@tournament_configured %>
              <button id="select-all" onclick="selectAllPlayers()" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white px-4 border-2 border-blue-500 hover:border-transparent rounded-full btn-xs">Select All</button>
              <button id="select-none" onclick="selectNonePlayers()" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white px-4 border-2 border-blue-500 hover:border-transparent rounded-full btn-xs">Select None</button>
            <% end %>
          </div>

        </div>

        <div class="mt-5 md:mt-0 md:col-span-2">
          <form action="#" method="POST">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-6">
                <label for="name" class="block text-sm font-medium text-gray-700">Tournament Name</label>
                <%= form.text_field :name, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>

              <% if false # removed from use for now %>
                <div class="col-span-6">
                  <label for="street-address" class="block text-sm font-medium text-gray-700">Street Address</label>
                  <%= form.text_field :address1, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
                </div>

                <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                  <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                  <%= form.text_field :city, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="region" class="block text-sm font-medium text-gray-700">State / Province</label>
                  <%= form.text_field :state, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <label for="postal-code" class="block text-sm font-medium text-gray-700">Postal code</label>
                  <%= form.text_field :zip, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
                </div>
              <% end %>

              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                <label for="tournament-time" class="block text-sm font-medium text-gray-700">Match Time Length<span class="text-gray-400"></span></label>
                <%= form.select :match_time, @match_times, { :placeholder => "Please Select" }, id: "tournament-time", class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:border-indigo-500 sm:text-sm rounded-md" %>
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                <label for="break-time" class="block text-sm font-medium text-gray-700">Break Time Length<span class="text-gray-400"></span></label>
                <%= form.select :pre_match_time, @pre_match_times, { :placeholder => "Please Select" }, id: "break-time", class: "mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:border-indigo-500 sm:text-sm rounded-md" %>
              </div>
            </div>

            <%= render "form_courts", form: form %>

            <div class="grid grid-cols-6 gap-6 mt-6">
              <div id="court-side-a" class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label for="courts" class="block text-sm font-medium text-gray-700">Court Side A Name</label>
                <%= form.text_field :court_side_a_name, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>
              <div id="court-side-b" class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label for="courts" class="block text-sm font-medium text-gray-700">Court Side B Name</label>
                <%= form.text_field :court_side_b_name, id: "court-2-name", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>
            </div>

            <%= form.hidden_field :adhoc, value: false %>
          </form>
        </div>
      </div>
    </div>

    <div class="flex justify-end space-x-3">
      <%= link_to "Back to Tournaments", root_path, class: "inline-flex items-center px-5 text-md border border-transparent font-medium" %>
      <% params[:action] == "new" ? button_text = "Create Tournament" : button_text = "Update Tournament" %>
      <button
        id="save-button"
        type="submit"
        class="float-right text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-md px-5 py-1 text-center mr-2 dark:bg-blue-600 hover:bg-transparent hover:text-color-blue-700">
        <%= button_text %>
      </button>
    </div>
  </div>
<% end %>

<%= render "js_form", tournament: @tournament %>
