<td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
  <% if tournament.rounds_configured.include?(1) %>
    <a href="<%= display_path(tournament.id, 1) %>" target="_blank">
      <button 
        class="inline-flex items-center px-2.5 py-0.5 border border-transparent text-sm font-medium rounded text-slate-700 bg-slate-200 hover:bg-slate-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-500">
        Display Court <%= tournament.courts > 1 ? 1 : "" %>
      </button>
    </a>
  <% end %>
  <% if tournament.courts == 2 %>
    <a href="<%= display_path(tournament.id, 1) %>" target="_blank">
      <button 
        class="inline-flex items-center px-2.5 py-0.5 border border-transparent text-sm font-medium rounded text-slate-700 bg-slate-200 hover:bg-slate-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-500">
        Display Court 2
      </button>
    </a>
  <% end %>
  <% if tournament.rounds_finalized.include?(tournament.rounds_configured.last.to_i) %>
    <a href="<%= results_tournament_path(tournament.id) %>" target="_blank">
      <button 
        class="inline-flex items-center px-2.5 py-0.5 border border-transparent text-sm font-medium rounded text-slate-700 bg-slate-200 hover:bg-slate-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-500">
        Results
      </button>
    </a>
  <% end %>
  <a href="<%= edit_tournament_path(tournament.id) %>">
    <button 
      class="inline-flex items-center px-2.5 py-0.5 border border-transparent text-sm font-medium rounded text-slate-700 bg-slate-200 hover:bg-slate-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-500">
      Edit
    </button>   
  </a>   
</td>
