<% @tournaments.each do |tournament| %>
  <tr class="bg-grey">
    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= tournament.name %></td>
    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= tournament.created_at.strftime("%b %e, %Y | %l:%M %p") %></td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= "#{tournament.city}, #{tournament.state}" %></td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= tournament.players.count %></td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">-</td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= tournament.court_names_pretty %></td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= tournament&.rounds_configured.join(', ') %></td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= tournament&.rounds_finalized.join(', ') %></td>
    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <% if tournament.rounds_configured.include?(1) %>
      <%= link_to "Round 1", administration_tournament_path(tournament, 1), class: "text-indigo-600 hover:text-indigo-900" %> |
    <% end %>
    <% if tournament.rounds_configured.include?(2) %>
      <%= link_to "Round 2", administration_tournament_path(tournament, 2), class: "text-indigo-600 hover:text-indigo-900" %> |
    <% end %>
    <% if tournament.rounds_finalized.include?(tournament.rounds_configured.last.to_i) %>
      <%= link_to "Results", results_tournament_path(tournament), class: "text-indigo-600 hover:text-indigo-900" %> |
    <% end %>
      <%= link_to "Edit", edit_tournament_path(tournament), class: "text-indigo-600 hover:text-indigo-900" %>
    </td>
  </tr>
<% end %>
