<% if @tournaments.where(adhoc: false) %>
  <% @tournaments.where(adhoc: false).each do |tournament| %>
    <tr class="bg-grey">
      <% if current_user.has_role? "admin" %>
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= tournament&.created_by&.full_name if tournament&.created_by %></td>
      <% end %>
      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= tournament.name %></td>
      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= tournament.created_at.strftime("%b %e, %Y | %l:%M %p") %></td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= tournament&.players.count %></td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= tournament&.match_time ? tournament&.match_time / 60 : 0 %>m</td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= tournament&.rounds_configured.join(', ') %></td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= tournament&.rounds_finalized.join(', ') %></td>
      <%= render "tournaments/index_row_buttons", tournament: tournament %> 
    </tr>
  <% end %>
<% end%>
