<div class="overflow-auto rounded-lg shadow-xl divide-y divide-gray-500">
  
    <table class="rounded-xl shadow-xl min-w-full divide-y divide-gray-500 border-2">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-3 py-3.5 text-left text-md font-semibold text-gray-900">Name</th>
          <th scope="col" class="px-3 py-3.5 text-left text-md font-semibold text-gray-900">Wins</th>
          <th scope="col" class="px-3 py-3.5 text-left text-md font-semibold text-gray-900">Points</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
          <tr>
            <td class="whitespace-nowrap px-3 py-4 text-md text-gray-900"><%= players_gold_winner[1] %></td>
            <td class="whitespace-nowrap px-3 py-4 text-md text-gray-900"><%= players_gold_winner[3] %></td>
            <td class="whitespace-nowrap px-3 py-4 text-md text-gray-900"><%= players_gold_winner[2] %>&nbsp;&nbsp;<span class="text-green-700 font-bold">Court Ninja</span></td>
          </tr>
        <% players_gold.each do |player| %>
          <tr>
            <td class="whitespace-nowrap px-3 py-4 text-md font-medium text-gray-900"><%= player[1] %></td>
            <td class="whitespace-nowrap px-3 py-4 text-md font-medium text-gray-900"><%= player[3] %></td>
            <td class="whitespace-nowrap px-3 py-4 text-md font-medium text-gray-900"><%= player[2] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
</div>