  <h4 class="text-sm tracking-tight font-extrabold text-gray-900 sm:text-2xl sm:text-3xl">
    <% if round == 1 && court == 1 %>
      <span class=" "><%= tournament.court_1_name %> Court</span>
    <% elsif round == 1 && court == 2 %>
      <span class=" "><%= tournament.court_2_name %> Court</span>
    <% end %>

    <% if round == 2 && court == 1 %>
      <span class=" "><%= tournament.court_1_name %> Court: Gold Group</span>
    <% elsif round == 2 && court == 2 %>
      <span class=" "><%= tournament.court_2_name %> Court: Silver Group</span>
    <% end %>
  </h4>    
  
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
    <% team_count = [*1..tournament.matches.where(court: 1).first.teams.first.users.count - 1] %>
      <tr>
        <th scope="col" class="px-1 py-3.5 text-left text-sm font-semibold text-gray-600">Set</th>
        <th scope="col" class="px-1 py-3.5 text-left text-sm font-semibold text-gray-600">Court A</th>
        <% team_count.each do |team_1| %>
          <th scope="col" class="px-1 py-3.5 text-left text-sm font-semibold text-gray-600">&nbsp;</th>
        <% end %>
        <th scope="col" class="px-1 py-3.5 text-left text-sm font-semibold text-gray-600">Score</th>
        <th scope="col" class="px-1 py-3.5 text-left text-sm font-semibold text-gray-600">Court B</th>
        <% team_count.each do |team_1| %>
          <th scope="col" class="px-1 py-3.5 text-left text-sm font-semibold text-gray-600">&nbsp;</th>
        <% end %>
        <th scope="col" class="px-1 py-3.5 text-left text-sm font-semibold text-gray-600">Score</th>
        <% if tournament.work_group > 0 %>
          <th scope="col" class="px-1 py-3.5 text-left text-sm font-semibold text-gray-600">Working</th>
        <% end %>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% matches.each do |match| %>
        <% team1 = match.teams.first.users %>
        <% team2 = match.teams.second.users %>
        <% work_team = match.teams.last.users # team3 %>

        <% if match.court == 1 %>
          <% tabs = PlayerConfigurations.tab[0][match.number - 1] %>
        <% elsif match.court == 2 %>
          <% tabs = PlayerConfigurations.tab[1][match.number - 1] %>
        <% end %>

        <tr>
          <td class="px-2 py-4 whitespace-nowrap text-xs font-semibold text-gray-500"><%= match.number %></td>
          <% team1.each do |player| %>
            <td class="px-2 py-4 whitespace-nowrap text-xs text-gray-500"><%= player.name_abbreviated %></td>
          <% end %>
          <td class="px-2 py-4 whitespace-nowrap text-xs text-gray-500">
            <div class="mt-1 flex rounded-md shadow-sm">
              <% team_1 = match.teams.find_by(number: 1) %>
              <% team_2 = match.teams.find_by(number: 2) %>
              <input 
                type="text" 
                name="<%= "team-#{team_1.id}" %>" 
                id="<%= team_1.id %>" 
                class="flex-1 block w-2 px-2 py-2 rounded-l-md rounded-r-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300" 
                value="<%= team_1.score %>"
                tabindex="<%= tabs&.first %>"
              >
            </div>
          </td>         
          <% team2.each do |player| %>
            <td class="px-2 py-4 whitespace-nowrap text-xs text-gray-500"><%= player.name_abbreviated %></td>
          <% end %>                         
      
          <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500">
            <div class="mt-1 flex rounded-md shadow-sm">
              <input 
                type="text" 
                name="<%= "team-#{team_2.id}" %>" 
                id="<%= team_2.id %>" 
                class="flex-1 block w-2 px-2 py-2 rounded-l-md rounded-r-md focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300" 
                value="<%= team_2.score %>"
                tabindex="<%= tabs&.last %>"
              >
            </div>
          </td> 
          <% if tournament.work_group > 0 %>
            <% work_team.each do |player| %>
              <td class="px-2 py-4 whitespace-nowrap text-xs text-gray-500"><%= player.name_abbreviated %></td>
            <% end %>                         
          <% end %>         
        </tr>
      <% end %>
    </tbody>
  </table>