<td class="px-2 py-4 whitespace-nowrap text-left text-sm font-medium">
  <% if tournament.rounds_configured.include?(1) %>
    <a href="<%= display_path(tournament.id, 1) %>" target="_blank">
      <button 
        class=" text-blue-500 text-md py-0.5 px-5 text-md font-medium text-black focus:outline-none bg-white border-2 border-blue-400 hover:bg-gray-100 hover:text-black focus:z-10 focus:ring-4 focus:ring-gray-200">
        <% if tournament.court_1_name.present? %>
          <%= tournament.court_1_name %>
        <% elsif tournament.courts > 1 %>
          Court 1
        <% else %>
          Court
        <% end %>
      </button>
    </a>
  <% else %>
    &nbsp;
  <% end %>
</td>
<td class="px-2 py-4 whitespace-nowrap text-left text-sm font-medium">
  <% if tournament.courts == 2 %>
    <a href="<%= display_path(tournament.id, 2) %>" target="_blank">
      <button 
        class=" text-blue-500 text-md py-0.5 px-5 text-md font-medium text-black focus:outline-none bg-white border-2 border-blue-400 hover:bg-gray-100 hover:text-black focus:z-10 focus:ring-4 focus:ring-gray-200">
        <%= tournament.court_2_name.present? ?  tournament.court_2_name : "Court 2" %>
      </button>
    </a>
  <% end %>
</td>
<td class="px-2 py-4 whitespace-nowrap text-left text-sm font-medium">
  <% if tournament.tournament_completed %>
    <a href="<%= results_tournament_path(tournament.id) %>" target="_blank">
      <button 
        class="text-md py-0.5 px-8 mr-2 text-md font-medium text-green-700 focus:outline-none bg-white rounded-full border-2 border-green-700 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-green-700 dark:border-gray-600 dark:hover:text-black dark:hover:bg-gray-200">
        View
      </button>
    </a>
  <% else %>
    <a href="<%= edit_tournament_path(tournament.id) %>">
      <button 
        class="text-md py-0.5 px-8 mr-2 text-md font-medium text-red-700 focus:outline-none bg-white rounded-full border-2 border-red-700 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-green-700 dark:border-gray-600 dark:hover:text-black dark:hover:bg-gray-200">
        &nbsp;Edit&nbsp;
      </button>   
    </a>    
  <% end %>
</td>
