<div id="courts" data-courts="single" data-current-court="<%= @court %>"></div>
  <div class="py-10">
    <div data-controller="display"
      data-display-tournament-id-value="<%= @tournament.id %>"
      data-display-tournament-current-round-local-value="<%= @round %>"
      data-display-tournament-current-round-server-value="<%= @round %>"
      data-display-tournament-current-set-value="<%= @tournament.current_set %>"
      data-display-tournament-current-court-value="<%= @court %>"
      data-display-tournament-timer-state-value="<%= @tournament.timer_state %>"
      data-display-tournament-timer-value="0"
      data-display-tournament-time-value="<%= @tournament.match_time %>"
      data-display-tournament-court-sets-value="<%= @court_sets.count %>"
      >

      <button data-drawer-target="tournament-controls" data-drawer-show="tournament-controls" aria-controls="tournament-controls" data-collapse-toggle="mobile-menu" type="button" class="ml-3 text-gray-400 rounded-lg hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-300 dark:text-gray-400 dark:hover:text-white dark:focus:ring-gray-500" aria-controls="mobile-menu-2" aria-expanded="false">
        <svg class="w-8 h-8" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>

      <!-- tournament controls drawer -->
      <div id="tournament-controls" class="fixed z-40 h-screen p-4 overflow-y-auto bg-white w-2/5 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-label">
        <h5 id="drawer-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400"><svg class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>Tournament Controls</h5>
        <button type="button" data-drawer-dismiss="tournament-controls" aria-controls="tournament-controls" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Close menu</span>
        </button>

        <span data-admin-target="timerWarning" style="display:none" class="mt-3 block text-sm font-medium text-gray-700 bg-gray-200"><i>Timer synchronizing with server...</i></span>
        <span data-admin-target="timerOffline" style="display:none" class="mt-3 block text-sm font-medium text-gray-700"><i>Timer is active on another tab or browser window.</i></span>
        <span class="mt-3 mb-3 block text-sm font-medium text-gray-700">
          <b>Match Time:</b> <%= @tournament&.match_time ? @tournament.match_time / 60 : 0 %> minutes<br>
          <b>Break Time:</b> <%= @tournament&.pre_match_time_formatted %><br> 
          <b>Tournament Time:</b> ~<%= @tournament&.total_tournament_time&.round %> minutes
        </span>

        <div class="grid grid-cols-3 gap-3">
          <button type="button" class="rounded-lg px-5 py-2.5 mr-2 mb-2 border border-transparent text-sm font-medium rounded text-black bg-green-200 hover:bg-green-300">Timer Start</button>
          <button type="button" class="rounded-lg px-5 py-2.5 mr-2 mb-2 border border-transparent text-sm font-medium rounded text-black bg-yellow-200 hover:bg-yellow-300">Timer Pause</button>
          <button type="button" class="rounded-lg px-5 py-2.5 mr-2 mb-2 border border-transparent text-sm font-medium rounded text-black bg-red-200 hover:bg-red-300">Timer Reset</button>
        </div>

        <h5 id="drawer-label" class="inline-flex items-center mt-6 text-base font-semibold text-gray-500 dark:text-gray-400"><svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>&nbsp;Court Selection</h5>        
        <div class="mt-2">
          <div class="grid grid-cols-3 gap-3">
            <button type="button" class="rounded-lg px-5 py-2.5 mr-2 mb-2 border text-sm font-medium rounded text-black bg-gray-200 hover:bg-gray-300">Court 1</button>
            <button type="button" class="rounded-lg px-5 py-2.5 mr-2 mb-2 border text-sm font-medium rounded text-black bg-gray-200 hover:bg-gray-300">Court 2</button>
            <button type="button" class="rounded-lg px-5 py-2.5 mr-2 mb-2 border text-sm font-medium rounded text-black bg-gray-200 hover:bg-gray-300">Court 3</button>
          </div>
          <div class="grid grid-cols-3 gap-3">
            <button type="button" class="rounded-lg px-5 py-2.5 mr-2 mb-2 border text-sm font-medium rounded text-black bg-gray-200 hover:bg-gray-300">Court 4</button>
            <button type="button" class="rounded-lg px-5 py-2.5 mr-2 mb-2 border text-sm font-medium rounded text-black bg-gray-200 hover:bg-gray-300">Court 5</button>
            <button type="button" class="rounded-lg px-5 py-2.5 mr-2 mb-2 border text-sm font-medium rounded text-black bg-gray-200 hover:bg-gray-300">Court 6</button>
          </div>           
        </div>
        
        
        <!-- Scoring -->
        <h5 id="drawer-label" class="inline-flex items-center mt-6 text-base font-semibold text-gray-500 dark:text-gray-400"><svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>&nbsp;Scoring</h5>     
        <div class="mt-2">
          <div class="grid grid-cols-1">
            <!-- Scoring match selection dropdown -->
            <button id="dropdownRadioBgHoverButton" data-dropdown-toggle="dropdownRadioBgHover" class="bg-blue-200 hover:bg-blue-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:hover:bg-blue-400 dark:focus:ring-blue-800" type="button">
              <div>1) Olivia L | Maddy H &nbsp;&nbsp;   VS &nbsp;&nbsp;   Kaylani K | Sofia P</div>
              <svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </button>

            <div id="dropdownRadioBgHover" class="border-8 hidden z-10 w-screen bg-white rounded divide-y shadow-lg divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioBgHoverButton">
                  <li>
                    <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">

                        <input id="default-radio-4" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="default-radio-4" class="ml-2 w-full text-xs font-medium text-gray-900 rounded dark:text-gray-300">1) Olivia L | Maddy H &nbsp;&nbsp;   VS &nbsp;&nbsp;   Kaylani K | Sofia P</label>

                    </div>
                  </li>
                  <li>
                    <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                        <input id="default-radio-4" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="default-radio-4" class="ml-2 w-full text-xs font-medium text-gray-900 rounded dark:text-gray-300">1) Olivia L | Maddy H &nbsp;&nbsp;   VS &nbsp;&nbsp;   Kaylani K | Sofia P</label>
                    </div>
                  </li>
                  <li>
                    <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                        <input id="default-radio-4" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="default-radio-4" class="ml-2 w-full text-xs font-medium text-gray-900 rounded dark:text-gray-300">1) Olivia L | Maddy H &nbsp;&nbsp;   VS &nbsp;&nbsp;   Kaylani K | Sofia P</label>
                    </div>
                  </li>
                </ul>
            </div>   
          </div>
        </div>

        <!-- scoring section -->
        <div class="mt-3">       
          <div class="grid grid-cols-3 gap-3">
            <input type="text" id="title" class="text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Score" required>

            <div class="mt-2 text-center text-sm font-medium text-black">VS.</div>

            <input type="text" id="title" class="text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Score" required>
          </div>
          <div class="grid grid-cols-3 gap-3">
            <div class="mt-2 text-center text-sm font-medium text-black">Olivia L + Maddy H</div>

            <div class="mt-2 text-center text-sm font-medium text-black">&nbsp;</div>

            <div class="mt-2 text-center text-sm font-medium text-black">Kaylani K + Sofia P</div>
          </div>           
        </div>
        <!-- scoring submit -->
        <div class="mt-2">
          <div class="grid grid-cols-1">
            <button type="submit" class="mt-4 text-white justify-center flex text-center bg-blue-700 hover:bg-blue-800 w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"> Submit Scores</button>
          </div>
        </div>        
        
        
        
        <!-- Match / Round Operations -->
        <h5 id="drawer-label" class="inline-flex items-center mt-6 text-base font-semibold text-gray-500 dark:text-gray-400"><svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>&nbsp;Match / Round Operations</h5>        
        <div class="mt-2">
          <div class="grid grid-cols-2 gap-3">
            <button type="button" class="rounded-lg px-5 py-2.5 mr-2 mb-2 border text-sm font-medium rounded text-black bg-gray-200 hover:bg-gray-300">Update Scores</button>
            <button type="button" class="rounded-lg px-5 py-2.5 mr-2 mb-2 border text-sm font-medium rounded text-black bg-gray-200 hover:bg-gray-300">Finalize Round 1</button>
          </div>         
        </div>
        <div class="mt-4">
          <div class="grid grid-cols-2 gap-3">
            <button type="button" class="rounded-lg px-5 py-2.5 mr-2 mb-2 border text-sm font-medium rounded text-black bg-gray-200 hover:bg-gray-300">Edit Tournament</button>
            <button type="button" class="rounded-lg px-5 py-2.5 mr-2 mb-2 border text-sm font-medium rounded text-black bg-gray-200 hover:bg-gray-300">Back To Tournaments</button>
          </div>           
        </div>     




      </div>


      <!-- timer section -->
      <div class="pt-2 text-6xl text-center font-medium text-gray-900">
        <div data-display-target="status" id="status" class="pt-3 py-3.5 text-7xl text-center font-medium text-gray-900"></div>

        <div data-display-target="progressbackground"class="overflow-hidden h-14 m-4 text-xs flex rounded bg-yellow-200">
          <div id="progress" style="width:100%" data-display-target="progress" class="shadow-lg flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
        </div>

        <div class="" style="--size:10rem; --value:100;">
          <svg data-display-target="spinner" class="animate-reverse-spin inline mt-2 mb-3 mr-2 w-20 h-20 text-gray-200 dark:text-gray-600 fill-black" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
          </svg>
          <div class="timer">
            <span data-display-target="minute" class="text-6xl"></span>m<span data-display-target="second" class="text-6xl"></span>s
          </div>
        </div>
      </div>
      <div class="text-center space-y-2">
        <span data-display-target="syncing" id="syncing" class="pt-3 text-2xl text-center font-medium text-gray-900">Syncing...</span>
      </div>
      <!-- end timer section -->

      <!-- player card section -->
      <div class="overflow-auto mt-12 rounded-lg shadow-lg divide-gray-200">
        <ul role="list" class="min-w-full items-center grid grid-cols-7">
          <li>&nbsp;</li><li>&nbsp;</li>
          <li class="col-span-1 text-center bg-white divide-y divide-gray-200">
            <div class="flex-auto p-2 text-2xl"><%= @tournament.court_side_a_name %> Side</div>
          </li>
          <li>&nbsp;</li>
          <li class="col-span-1 text-center bg-white divide-y divide-gray-200">
            <div class="flex-auto p-2 text-2xl"><%= @tournament.court_side_b_name %> Side</div>
          </li>
          <li>&nbsp;</li><li>&nbsp;</li>
        </ul>  

        <ul role="list" class="min-w-full px-2 py-2 items-center grid grid-cols-7 gap-2">
          <% @court == 1 ? current_set_players = @current_set_players[0] : current_set_players = @current_set_players[1] %>
          <!-- Filler cards (depending on 2 or 3 athlete per side) -->
          <% if @row_columns == 5 %>
            <li class="col-span-1 flex flex-col text-center bg-white divide-y divide-gray-200">&nbsp;</li>
          <% end %>

          <!-- Team 1 (left side) -->
          <% current_set_players[0].reject { |c| c.empty? }.each_with_index do |player, index| %>
            <%= render "card", player: player, index: index, team: 1 %>
          <% end %>

          <!-- Team 1 (work group middle) -->
          <li class="col-span-1 flex flex-col text-center bg-white divide-y divide-gray-200">
            <div class="flex-1 flex flex-col p-2">
              <%= image_tag('vs.png', class: 'mt-10') %>
              <% if @tournament.work_group > 0 %>
                <h3 class="mt-6 text-gray-900 text-sm font-medium underline">Work</h3>
              <% end %>
              <% current_set_players[2]&.each_with_index do |player, index| %>
                <h3 id="work-player-<%= index %>" class="text-gray-900 text-sm font-medium"><%= player[1] %></h3>
              <% end %>
            </div>
          </li>

          <!-- Team 2 (right side) -->
          <% current_set_players[1].reject { |c| c.empty? }.each_with_index do |player, index| %>
            <%= render "card", player: player, index: index, team: 2 %>
          <% end %>

          <!-- Filler cards (depending on 2 or 3 athlete per side) -->
          <% if @row_columns == 5 %>
            <li class="col-span-1 flex flex-col text-center bg-white divide-y divide-gray-200">&nbsp;</li>
          <% end %>
        </ul> 
        
        <ul role="list" class="mb-4 min-w-full items-center grid grid-cols-7">
          <li>&nbsp;</li><li>&nbsp;</li>
          <li class="col-span-1 text-center bg-white divide-y divide-gray-200">
            <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <% @scores.each do |score| %>
                <option value="" disabled selected hidden>Enter Score</option>
                <option value="<%= score %>"><%= score %></option>
              <% end %>

            </select>
          </li>
          <li class="mt-2 col-span-1 text-center bg-white divide-y divide-gray-200">
            <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit Scores</button>
          </li>
          <li class="col-span-1 text-center bg-white divide-y divide-gray-200">
            <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <% @scores.each do |score| %>
                <option value="" disabled selected hidden>Enter Score</option>
                <option value="<%= score %>"><%= score %></option>
              <% end %>
            </select>
          </li
          <li>&nbsp;</li><li>&nbsp;</li>
        </ul>           
      </div>
      <%# end player card section %>

      <%# tournament status steps section %>
      <div class="pt-12 text-xl text-center font-large text-gray-900">
        <ul class="steps lg:steps-horizontal">
          <% steps = @tournament.tournament_sets.where(round: 1, court: 1).count * @tournament.rounds %>
          <% (1..steps).each do |set| %>
            <li data-display-target="step" data-content="<%= set %>" class="<%= set <= @tournament.current_set ? "step-primary" : "" %> step"></li>   
          <% end %>       
        </ul>
        <div class="pt-4">Tournament Progress</div>
      </div>

      <% if @tournament.rounds > 1 %>
        <div class="text-base text-center font-medium text-gray-900">
          (Round <span id="current-round"></span> of <%= @tournament.rounds %>)
        </div>
      <% end %>
      <%# end tournament status section %>

      <%# tournament table section %>
      <div class="overflow-auto mt-6 rounded-lg shadow-xl divide-y divide-gray-500">
        <div class="p-6">
          <% if @court == 1 %>
            <h2 class="text-xl text-center font-medium text-gray-900"><%= @tournament&.court_1_name %> Court</h2>
          <% end %>
          <% if @court == 2 %>
            <h2 class="text-xl text-center font-medium text-gray-900"><%= @tournament&.court_2_name %> Court</h2>
          <% end %>
          <table class="min-w-full divide-y divide-gray-300 border-2">
            <thead class="bg-gray-50">
            <% team_count = [*1..@tournament.tournament_sets.where(court: @court).first.tournament_teams.first.users.count - 1] %>
              <tr class="divide-x divide-gray-300">
                <th scope="col" class="px-2 py-3.5 text-left text-md font-semibold text-gray-600">Match</th>
                <th scope="col" class="px-2 py-3.5 text-left text-md font-semibold text-gray-600"><%= @tournament.court_side_a_name %> Side</th>
                <% team_count.each do |team_1| %>
                  <th scope="col" class="px-1 py-3.5 text-left text-md font-semibold text-gray-600">&nbsp;</th>
                <% end %>
                <th scope="col" class="px-2 py-3.5 text-center text-md font-semibold text-gray-600">Score</th>
                <th scope="col" class="px-2 py-3.5 text-left text-md font-semibold text-gray-600"><%= @tournament.court_side_b_name %> Side</th>
                <% team_count.each do |team_2| %>
                  <th scope="col" class="px-2 py-3.5 text-left text-md font-semibold text-gray-600">&nbsp;</th>
                <% end %>
                <th scope="col" class="px-2 py-3.5 text-center text-md font-semibold text-gray-600">Score</th>
                <% if @tournament.work_group > 0 %>
                  <th scope="col" class="px-2 py-3.5 text-left text-md font-semibold text-gray-600">Working</th>
                  <% (1..(@tournament.work_group - 1)).each do |blank| %>
                    <th scope="col" class="px-2 py-3.5 text-left text-sm font-semibold text-gray-600">&nbsp;</th>
                  <% end %>
                <% end %>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @court_sets.each do |set| %>
                <% team1 = set.tournament_teams.first.users %>
                <% team2 = set.tournament_teams.second.users %>
                <% work_team = set.tournament_teams.last.users %>
                  <tr id="<%= set.number %>" data-display-target="set" class="divide-x divide-gray-300">
                    <td class="px-2 py-3.5 text-left text-md text-gray-600"><%= set.number %></td>
                    <% team1.each do |player| %>
                      <td class="px-2 py-3.5 text-left text-md text-gray-600"><%= player.name_abbreviated %></td>
                    <% end %>
                    <td id="<%= set.tournament_teams.first.id %>" data-display-target="team" class="px-2 py-3.5 text-center text-md text-gray-600"><%= set.tournament_teams.first.score %></td>
                    <% team2.each do |player| %>
                      <td class="px-2 py-3.5 text-left text-md text-gray-600"><%= player.name_abbreviated %></td>
                    <% end %>
                    <td id="<%= set.tournament_teams.second.id %>" data-display-target="team" class="px-2 py-3.5 text-center text-md text-gray-600"><%= set.tournament_teams.second.score %></td>
                    <% if @tournament.work_group > 0 %>
                      <% work_team.each do |player| %>
                        <td class="px-2 py-3.5 text-left text-md text-gray-600"><%= player.name_abbreviated %></td>
                      <% end %>
                    <% end %>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>