<div id="courts" data-courts="single" data-current-court="<%= @court_number %>"></div>
  <div class="py-10">
    <div data-controller="display"
      data-display-tournament-id-value="<%= @tournament.id %>"
      data-display-tournament-current-round-value="<%= @tournament.current_round %>"
      data-display-tournament-current-court-value="<%= @court_number %>"
      data-display-tournament-timer-state-value="<%= @tournament.timer_state %>"
      data-display-tournament-timer-value="0"
      data-display-tournament-time-value="<%= @tournament.match_time %>"
      data-display-tournament-matches-per-round-value="<%= @tournament.matches_per_round %>"
      data-display-tournament-current-court-match-value=<%= @current_court_match %>
      data-display-all-scores-entered-value=<%= @tournament.all_scores_entered_court_round(@court_number, @tournament.current_round) %>
      >

      <div data-display-target="modal" class="modal">
        <div class="modal-box">
          <svg aria-hidden="true" class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <p data-display-target="modalMessage" class="font-bold font-medium text-lg center text-center py-4"></p>
          <label data-action="click->display#modalCancelClick" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
          <div data-display-target="modalButtons" class="modal-action">
            <label data-action="click->display#modalConfirmClick" class="btn btn-error rounded-full">Confirm?</label>
            <label data-action="click->display#modalCancelClick" class="btn btn-success rounded-full">Cancel</label>
          </div>
        </div>
      </div>

      <button data-drawer-target="tournament-controls" data-drawer-show="tournament-controls" aria-controls="tournament-controls" data-collapse-toggle="mobile-menu" type="button" class="ml-3 text-gray-400 rounded-lg hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-300 dark:text-gray-400 dark:hover:text-white dark:focus:ring-gray-500" aria-controls="mobile-menu-2" aria-expanded="false">
        <svg class="w-12 h-12" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
      
      <%= render "display_drawer", tournament: @tournament %>

      <!-- timer section -->
      <h2 class="text-center mb-4 text-7xl font-extrabold tracking-tight leading-none text-gray-900 md:text-7xl lg:text-7xl dark:text-white">
        <%= !@court_name.blank? ? "#{@court_name} Court (##{@court_number})" : "Court ##{@court_number}" %> 
      </h2>

      <div class="pt-2 text-6xl text-center font-medium text-gray-900">
        <div data-display-target="status" id="status" class="mb-4 text-6xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"></div>

        <div data-display-target="progressbackground"class="overflow-hidden h-14 m-4 text-xs flex rounded bg-yellow-200">
          <div id="progress" style="width:100%" data-display-target="progress" class="shadow-lg flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
        </div>

        <div class="" style="--size:10rem; --value:100;">
          <svg data-display-target="spinner" class="animate-reverse-spin inline mt-2 mb-3 mr-2 w-20 h-20 text-gray-200 dark:text-gray-600 fill-black" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
          </svg>
          <div class="timer">
            <span data-display-target="minute" class="mb-4 text-6xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"></span>m<span data-display-target="second" class="mb-4 text-6xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"></span>s
          </div>          
        </div>
      </div>
      <div class="text-center space-y-2">
        <span data-display-target="syncing" id="syncing" class="pt-3 text-2xl text-center font-medium text-gray-900">Syncing...</span>
      </div>
      <!-- end timer section -->

      <!-- player card section -->
      <div class="overflow-auto mt-8 rounded-lg shadow-lg divide-gray-200">

        <ul role="list" class="min-w-full px-2 py-0 items-center grid grid-cols-7 gap-2">
          <% @court_number == 1 ? current_set_players = @current_set_players[0] : current_set_players = @current_set_players[1] %>
          <!-- Filler cards (depending on 2 or 3 athlete per side) -->
          <% if @row_columns == 5 %>
            <li class="col-span-1 flex flex-col text-center bg-white divide-y divide-gray-200">&nbsp;</li>
          <% end %>

          <!-- Team 1 (left side) -->
          <% current_set_players[0].reject { |c| c.empty? }.each_with_index do |player, index| %>
            <%= render "card", player: player, index: index, team: 1 %>
          <% end %>

          <!-- Team 1 (work group middle) -->
          <li class="col-span-1 flex flex-col text-center bg-white divide-y divide-gray-200">
            <div class="flex-1 flex flex-col p-2">
              <%= image_tag('vs.png', class: 'mt-10') %>
              <% if @tournament.work_group > 0 %>
                <h3 class="mt-6 text-gray-900 text-sm font-medium underline">Work</h3>
              <% end %>
              <% current_set_players[2]&.each_with_index do |player, index| %>
                <h3 id="work-player-<%= index %>" class="text-gray-900 text-sm font-medium"><%= player[1] %></h3>
              <% end %>
            </div>
          </li>

          <!-- Team 2 (right side) -->
          <% current_set_players[1].reject { |c| c.empty? }.each_with_index do |player, index| %>
            <%= render "card", player: player, index: index, team: 2 %>
          <% end %>

          <!-- Filler cards (depending on 2 or 3 athlete per side) -->
          <% if @row_columns == 5 %>
            <li class="col-span-1 flex flex-col text-center bg-white divide-y divide-gray-200">&nbsp;</li>
          <% end %>
        </ul> 
        <!-- end player card section -->


        <ul role="list" class="min-w-full items-center grid grid-cols-7">
          <li>&nbsp;</li><li>&nbsp;</li>
          <li class="col-span-1 text-center text-3xl font-extrabold tracking-tight leading-none text-gray-500 md:text-3xl lg:text-3xl dark:text-white">
            <div class="flex-auto p-2 text-2xl"><%= @tournament.court_side_a_name %> Side</div>
          </li>
          <li>&nbsp;</li>
          <li class="col-span-1 text-center text-3xl font-extrabold tracking-tight leading-none text-gray-500 md:text-3xl lg:text-3xl dark:text-white">
            <div class="flex-auto p-2 text-2xl"><%= @tournament.court_side_b_name %> Side</div>
          </li>
          <li>&nbsp;</li><li>&nbsp;</li>
        </ul>  
        

        <!-- scoring section -->
        <ul role="list" class="mt-2 mb-8 min-w-full items-center grid grid-cols-7">
          <li>&nbsp;</li><li>&nbsp;</li>
          <li class="col-span-1 text-center bg-white divide-y divide-gray-200">
            <select id="team-1-score" data-display-target="team1Score" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <% @scores.each do |score| %>
                <option class="text-center" value="<%= score %>"><%= score %></option>
              <% end %>
            </select>
          </li>
          <li class="mt-2 col-span-1 text-center bg-white divide-y divide-gray-200">
        
    
          <button type="button" data-action="display#submitClick" data-display-target="submitClick" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-xl px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Loading...
          </button>
  
          </li>
          <li class="col-span-1 text-center bg-white divide-y divide-gray-200">
            <select id="team-2-score" data-display-target="team2Score" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <% @scores.each do |score| %>
                <option class="text-center" value="<%= score %>"><%= score %></option>
              <% end %>
            </select>
          </li
          <li>&nbsp;</li><li>&nbsp;</li>
        </ul>
        <!-- end scoring section -->
      </div>

      <!-- start match / round section --> 
      <div data-display-target="match" class="mt-8 text-center text-5xl font-bold tracking-tight leading-none text-gray-500 md:text-5xl lg:text-5xl dark:text-white">
        <%= "Match ##{@current_court_match}" %> 
      </div>
      <% if @tournament.rounds > 1 %>
        <div class="text-center mb-2 text-3xl font-bold tracking-tight leading-none text-gray-500 md:text-3xl lg:text-3xl dark:text-white">
          (Round <span id="current-round"></span> of <%= @tournament.rounds %>)
        </div>
      <% end %>
      <!-- end match / round section --> 

      <!-- tournament steps section -->
      <div class="mb-4 mt-6 text-center text-3xl font-extrabold tracking-tight leading-none text-gray-500 md:text-3xl lg:text-3xl dark:text-white">
        <div class="pt-4 mb-2 text-md">Tournament Progress</div>
      </div>
      <div class="mb-6 mt-2 text-center text-xl font-bold tracking-tight leading-none text-gray-500 md:text-xl lg:text-xl dark:text-white">
        <ul class="steps lg:steps-horizontal">
          <% steps = @tournament.tournament_sets.where(round: 1, court: 1).count * @tournament.rounds %>
          <% current_set = @tournament.current_matches[@court_number.to_s] %>

          <% (1..steps).each do |set| %>
            <li data-display-target="step" data-content="<%= set %>" class="<%= set <= current_set ? "step-primary" : "" %> step"></li>   
          <% end %>       
        </ul>
      </div>
      <!-- end tournament steps section -->

      <!-- tournament match list -->
      <div class="mt-6 mb-2 text-center text-2xl font-extrabold tracking-tight leading-none text-gray-500 md:text-2xl lg:text-2xl dark:text-white">
        <div class="pt-4 text-md">Current Round Stats</div>
      </div>      
      <% if @tournament.rounds_configured.count == 1 %>
        <%= render "display_match_list", tournament: @tournament, court_number: @court_number, court_sets: @court_sets_round1 %>
      <% elsif @tournament.rounds_configured.count == 2 %>
        <%= render "display_match_list", tournament: @tournament, court_number: @court_number, court_sets: @court_sets_round2 %>
      <% end %>

      <% if @tournament.rounds_configured.count == 2 %>
        <div class="mt-6 mb-2 text-center text-2xl font-extrabold tracking-tight leading-none text-gray-500 md:text-2xl lg:text-2xl dark:text-white">
          <div class="pt-4 text-md">Previous Round Stats</div>
        </div>
        <%= render "display_match_list", tournament: @tournament, court_number: @court_number, court_sets: @court_sets_round1 %>
      <% end %>
    </div>

  </div>