<%# This is the audio for the bell ringer that executes from the js_display file %>
<audio id="audio" src="http://www.ufoseries.com/soundEffects/hqAlarmBell.mp3"></audio>
<div id="courts" data-courts="double"></div>

<div class="bg-white">
  <div class="max-w-full mx-auto py-24 px-6 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="text-3xl font-extrabold text-gray-900 sm:text-center">Round <%= @round %></h1>
    </div>

    <%= render "display_timer" %>

    <div class="mt-12 space-y-4 sm:mt-16 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-2">
      <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
        <div class="p-6">
          <h2 class="text-xl text-center font-medium text-gray-900"><%= @tournament&.court_1_name %> Court</h2>
          <table class="min-w-full divide-y divide-gray-300>
            <thead class="bg-gray-50">
            <% team_count = [*1..@tournament.tournament_sets.where(court: 1).first.tournament_teams.first.users.count - 1] %>
              <tr>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Set</th>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Court A</th>
                <% team_count.each do |team_1| %>
                  <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <% end %>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Court B</th>
                <% team_count.each do |team_2| %>
                  <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <% end %>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <% if @tournament.work_group > 0 %>
                  <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Working</th>
                <% end %>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @court_1_sets.each do |set| %>
                <% team1 = set.tournament_teams.first.users %>
                <% team2 = set.tournament_teams.second.users %>
                <% work_team = set.tournament_teams.last.users %>
                <tr id="<%= set.number %>" data-display-target="set" class="divide-x divide-gray-300 ">
                  <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= set.number %></td>
                  <% team1.each do |player| %>
                    <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= player.name_abbreviated %></td>
                  <% end %>
                  <th scope="col" class="px-1 py-3.5 text-left text-xs font-normal text-gray-600">&nbsp;</th>
                  <% team2.each do |player| %>
                    <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= player.name_abbreviated %></td>
                  <% end %>
                  <th scope="col" class="px-2 py-3.5 text-left text-xs text-gray-900">&nbsp;</th>
                  <% if @tournament.work_group > 0 %>
                    <% work_team.each do |player| %>
                      <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= player.name_abbreviated %></td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
        <div class="p-6">
          <h2 class="text-xl text-center font-medium text-gray-900"><%= @tournament&.court_2_name %> Court</h2>
          <table class="min-w-full divide-y divide-gray-300>
            <thead class="bg-gray-50">
            <% team_count = [*1..@tournament.tournament_sets.where(court: 1).first.tournament_teams.first.users.count - 1] %>
              <tr>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Set</th>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Court A</th>
                <% team_count.each do |team_1| %>
                  <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <% end %>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Court B</th>
                <% team_count.each do |team_2| %>
                  <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <% end %>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <% if @tournament.work_group > 0 %>
                  <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Working</th>
                <% end %>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @court_2_sets.each do |set| %>
                <% team1 = set.tournament_teams.first.users %>
                <% team2 = set.tournament_teams.second.users %>
                <% work_team = set.tournament_teams.last.users %>
                <tr id="<%= set.number %>" data-display-target="set" class="divide-x divide-gray-300 ">
                  <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= set.number %></td>
                  <% team1.each do |player| %>
                    <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= player.name_abbreviated %></td>
                  <% end %>
                  <th scope="col" class="px-1 py-3.5 text-left text-xs text-gray-600">&nbsp;</th>
                  <% team2.each do |player| %>
                    <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= player.name_abbreviated %></td>
                  <% end %>
                  <th scope="col" class="px-2 py-3.5 text-left text-xs text-gray-900">&nbsp;</th>
                  <% if @tournament.work_group > 0 %>
                    <% work_team.each do |player| %>
                      <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= player.name_abbreviated %></td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </div>

  </div>
</div>