<%# This is the audio for the bell ringer that executes from the js_display file %>
<audio id="audio" src="http://www.ufoseries.com/soundEffects/hqAlarmBell.mp3"></audio>
<div id="courts" data-courts="single"></div>
  <div class="py-10">
    <div data-controller="display"
      data-display-tournament-id-value="<%= @tournament.id %>"
      data-display-tournament-current-round-local-value="<%= @round %>"
      data-display-tournament-current-round-server-value="<%= @round %>"
      data-display-tournament-current-set-value="<%= @tournament.current_set %>"
      data-display-tournament-current-court-value="<%= @court %>" 
      data-display-tournament-timer-state-value="<%= @tournament.timer_state %>" 
      data-display-tournament-timer-value="0" 
      data-display-tournament-time-value="<%= @tournament.tournament_time * 60 %>"   
      > 

      <%# timer section %>
      <div class="pt-3 text-6xl text-center font-medium text-gray-900">
        <div data-display-target="status" id="status" class="pt-3 py-3.5 text-6xl text-center font-medium text-gray-900"></div>
        <div data-display-target="progress" class="radial-progress text-accent-focus" style="--size:12rem; --value:100;">
          <div class="timer">
            <span data-display-target="minute" class="text-6xl"></span>:<span data-display-target="second" class="text-6xl"></span>
          </div>
        </div>
      </div>    
      <div class="text-center space-y-2">
        <span data-display-target="syncing" id="syncing" class="pt-3 text-2xl text-center font-medium text-gray-900">Syncing...</span>
      </div>
      <%# end timer section %>
      <%# player card section %>
      <div class="overflow-auto mt-12 rounded-lg shadow-lg divide-gray-200">
        <ul role="list" class="min-w-full px-2 py-2 items-center grid grid-cols-7 gap-2">
          <% @court == 1 ? current_set_players = @current_set_players[0] : current_set_players = @current_set_players[1] %>
          <%# Filler card %>
          <% if @row_columns == 5 %>
            <li class="col-span-1 flex flex-col text-center bg-white divide-y divide-gray-200">&nbsp;</li>
          <% end %>

          <% current_set_players[0].reject { |c| c.empty? }.each_with_index do |player, index| %>
            <%= render "card", player: player, index: index, team: 1 %>
          <% end %>

          <li class="col-span-1 flex flex-col text-center bg-white divide-y divide-gray-200">
            <div class="flex-1 flex flex-col p-2">
              <%= image_tag('vs.png', class: 'mt-10') %>
              <% if @tournament.work_group > 0 %>
                <h3 class="mt-6 text-gray-900 text-sm font-medium underline">Work</h3>
              <% end %>
              <% current_set_players[2]&.each_with_index do |player, index| %>
                <h3 id="work-player-<%= index %>" class="text-gray-900 text-sm font-medium"><%= player[1] %></h3>
              <% end %>
            </div>
          </li>

          <% current_set_players[1].reject { |c| c.empty? }.each_with_index do |player, index| %>
            <%= render "card", player: player, index: index, team: 2 %>
          <% end %>
          <%# Filler card %>
          <% if @row_columns == 5 %>
            <li class="col-span-1 flex flex-col text-center bg-white divide-y divide-gray-200">&nbsp;</li>
          <% end %>
        </ul>
        <ul role="list" class="min-w-full items-center grid grid-cols-7">
          <li>&nbsp;</li><li>&nbsp;</li>
          <li class="col-span-1 text-center bg-white divide-y divide-gray-200">
            <div class="flex-auto p-2 text-2xl"><%= @tournament.court_side_a_name %> Side</div>
          </li>   
          <li>&nbsp;</li>     
          <li class="col-span-1 text-center bg-white divide-y divide-gray-200">
            <div class="flex-auto p-2 text-2xl"><%= @tournament.court_side_b_name %> Side</div>
          </li>   
          <li>&nbsp;</li><li>&nbsp;</li> 
        </ul>
      </div>


      <%# end player card section %>

      <%# tournament status section %>
      <div class="pt-8 text-2xl text-center font-medium text-gray-900">
         Set <span id="current-set"></span> of <%= @tournament.tournament_sets.where(round: 1, court: 1).count %>
      </div>
      <% if @tournament.rounds > 1 %>
        <div class="text-base text-center font-medium text-gray-900">
          (Round <span id="current-round"></span> of <%= @tournament.rounds %>)
        </div>
      <% end %>
      <%# end tournament status section %>

      <%# tournament table section %>
      <div class="overflow-auto mt-6 rounded-lg shadow-lg divide-y divide-gray-200">
        <div class="p-6">
          <% if @court == 1 %>
            <h2 class="text-xl text-center font-medium text-gray-900"><%= @tournament&.court_1_name %> Court</h2>
          <% end %>
          <% if @court == 2 %>
            <h2 class="text-xl text-center font-medium text-gray-900"><%= @tournament&.court_2_name %> Court</h2>
          <% end %>
          <table class="min-w-full divide-y divide-gray-300 border-2">
            <thead class="bg-gray-50">
            <% team_count = [*1..@tournament.tournament_sets.where(court: @court).first.tournament_teams.first.users.count - 1] %>
              <tr class="divide-x divide-gray-300">
                <th scope="col" class="px-2 py-3.5 text-left text-md font-semibold text-gray-600">Set</th>
                <th scope="col" class="px-2 py-3.5 text-left text-md font-semibold text-gray-600"><%= @tournament.court_side_a_name %> Side</th>
                <% team_count.each do |team_1| %>
                  <th scope="col" class="px-1 py-3.5 text-left text-md font-semibold text-gray-600">&nbsp;</th>
                <% end %>
                <th scope="col" class="px-2 py-3.5 text-center text-md font-semibold text-gray-600">Score</th>
                <th scope="col" class="px-2 py-3.5 text-left text-md font-semibold text-gray-600"><%= @tournament.court_side_b_name %> Side</th>
                <% team_count.each do |team_2| %>
                  <th scope="col" class="px-2 py-3.5 text-left text-md font-semibold text-gray-600">&nbsp;</th>
                <% end %>
                <th scope="col" class="px-2 py-3.5 text-center text-md font-semibold text-gray-600">Score</th>
                <% if @tournament.work_group > 0 %>
                  <th scope="col" class="px-2 py-3.5 text-left text-md font-semibold text-gray-600">Working</th>
                  <% (1..(@tournament.work_group - 1)).each do |blank| %>
                    <th scope="col" class="px-2 py-3.5 text-left text-sm font-semibold text-gray-600">&nbsp;</th>
                  <% end %>
                <% end %>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @court_sets.each do |set| %>
                <% team1 = set.tournament_teams.first.users %>
                <% team2 = set.tournament_teams.second.users %>
                <% work_team = set.tournament_teams.last.users %>
                  <tr id="<%= set.number %>" data-display-target="set" class="divide-x divide-gray-300">
                    <td class="px-2 py-3.5 text-left text-md text-gray-600"><%= set.number %></td>
                    <% team1.each do |player| %>
                      <td class="px-2 py-3.5 text-left text-md text-gray-600"><%= player.name_abbreviated %></td>
                    <% end %>
                    <td id="<%= set.tournament_teams.first.id %>" data-display-target="team" class="px-2 py-3.5 text-center text-md text-gray-600"><%= set.tournament_teams.first.score %></td>
                    <% team2.each do |player| %>
                      <td class="px-2 py-3.5 text-left text-md text-gray-600"><%= player.name_abbreviated %></td>
                    <% end %>
                    <td id="<%= set.tournament_teams.second.id %>" data-display-target="team" class="px-2 py-3.5 text-center text-md text-gray-600"><%= set.tournament_teams.second.score %></td>
                    <% if @tournament.work_group > 0 %>
                      <% work_team.each do |player| %>
                        <td class="px-2 py-3.5 text-left text-md text-gray-600"><%= player.name_abbreviated %></td>
                      <% end %>
                    <% end %>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
