<%# This is the audio for the bell ringer that executes from the display_js file %>
<audio id="audio" src="http://www.ufoseries.com/soundEffects/hqAlarmBell.mp3"></audio>
<%= render "round_display_js" %>

<div class="bg-white">
  <div class="max-w-full mx-auto py-24 px-6 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="text-3xl font-extrabold text-gray-900 sm:text-center">Round <%= @round %></h1>
    </div>
    <div class="pt-3 text-6xl text-center font-medium text-gray-900">
      <div class="timer">
        <span class="minute"></span>:<span class="second"></span>
      </div>
    </div>   

    <div class="mt-12 space-y-4 sm:mt-16 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-2">
      <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
        <div class="p-6">
          <h2 class="text-xl text-center font-medium text-gray-900"><%= @tournament&.court_1_name %> Court</h2>
          <table class="min-w-full divide-y divide-gray-300>
            <thead class="bg-gray-50">
            <% team_count = [*1..@tournament.matches.where(court: 1).first.teams.first.users.count - 1] %>
              <tr>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Set</th>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Court A</th>
                <% team_count.each do |team_1| %>
                  <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <% end %>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Court B</th>
                <% team_count.each do |team_2| %>
                  <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <% end %>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Working</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @court_1_matches.each do |match| %>
                <% team1 = match.teams.first.users %>
                <% team2 = match.teams.second.users %>
                <% work_team = match.teams.last.users %>
                <% if @tournament.current_set == match.number && @tournament.rounds_finalized.length != @tournament.rounds %>
                  <tr class="font-extrabold divide-x divide-gray-300 shadow-md">
                <% else %>
                  <tr class="font-normal divide-x divide-gray-300">
                <% end %>
                  <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= match.number %></td>
                  <% team1.each do |player| %>
                    <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= player.name_abbreviated %></td>
                  <% end %>  
                  <th scope="col" class="px-1 py-3.5 text-left text-xs font-normal text-gray-600">&nbsp;</th>      
                  <% team2.each do |player| %>
                    <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= player.name_abbreviated %></td>
                  <% end %>                         
                  <th scope="col" class="px-2 py-3.5 text-left text-xs text-gray-900">&nbsp;</th>
                  <% work_team.each do |player| %>
                    <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= player.name_abbreviated %></td>
                  <% end %>                                      
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
        <div class="p-6">
          <h2 class="text-xl text-center font-medium text-gray-900"><%= @tournament&.court_2_name %> Court</h2>
          <table class="min-w-full divide-y divide-gray-300>
            <thead class="bg-gray-50">
            <% team_count = [*1..@tournament.matches.where(court: 1).first.teams.first.users.count - 1] %>
              <tr>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Set</th>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Court A</th>
                <% team_count.each do |team_1| %>
                  <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <% end %>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Court B</th>
                <% team_count.each do |team_2| %>
                  <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <% end %>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">&nbsp;</th>
                <th scope="col" class="px-1 py-3.5 text-left text-xs font-semibold text-gray-600">Working</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @court_2_matches.each do |match| %>
                <% team1 = match.teams.first.users %>
                <% team2 = match.teams.second.users %>
                <% work_team = match.teams.last.users %>
                <% if @tournament.current_set == match.number %>
                  <tr class="font-extrabold divide-x divide-gray-300 shadow-md">
                <% else %>
                  <tr class="font-normal divide-x divide-gray-300">
                <% end %>
                  <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= match.number %></td>
                  <% team1.each do |player| %>
                    <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= player.name_abbreviated %></td>
                  <% end %>  
                  <th scope="col" class="px-1 py-3.5 text-left text-xs text-gray-600">&nbsp;</th>      
                  <% team2.each do |player| %>
                    <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= player.name_abbreviated %></td>
                  <% end %>                         
                  <th scope="col" class="px-2 py-3.5 text-left text-xs text-gray-900">&nbsp;</th>
                  <% work_team.each do |player| %>
                    <td class="px-2 py-3.5 text-left text-xs text-gray-600"><%= player.name_abbreviated %></td>
                  <% end %>                                      
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div class="float-left space-x-4 space-y-3">
      <button class="btn btn-outline btn-primary btn-sm" onClick="timer.start()">Start</button> 
      <button class="btn btn-outline btn-primary btn-sm" onClick="timer.stop()">Stop</button> 
      <button class="btn btn-outline btn-primary btn-sm" onClick="timer.reset(<%= @tournament.tournament_time * 60 %>)">Reset</button> 
    </div> 
  </div>
</div>
