<table class="min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Coach</th>
      <% if current_user.has_role? :athlete %>
        <th scope="col"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% current_user.teams.each do |t| %>
    <% pt = PlayerTeam.find_by(player: current_user, team: t, pending: true) %>
    <tr class="hover:bg-gray-100 <%= t.active? ? 'bg-white text-gray-900' : 'bg-gray-200 text-gray-400' %>">
      <% if current_user.has_role? :athlete %>
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium hover:underline"><%= t.name %></td>
      <% else %>
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium hover:underline"><%= link_to t.name, edit_team_path(t.id) %></td>
      <% end %>
      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium"><%= t.description %></td>
      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium"><%= t.coach.full_name %></td>
      <% if current_user.has_role?(:athlete) && pt&.pending? %>
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
          <%= link_to "Join Team", existing_athlete_join_team_approval_url(uuid: pt.uuid), class: "text-indigo-600 hover:text-indigo-900" %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>