<table class="min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
    <tr>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Team</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Jersey Number</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Position</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.teams_coached.each do |c| %>
      <% c.players.each do |p| %>
        <tr class="hover:bg-gray-100 <%= c.active? ? 'bg-white text-gray-900' : 'bg-gray-200 text-gray-400' %>">
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-left">
            <div class="w-[40px] aspect-square bg-gray-300 rounded-[50%] flex justify-center items-center text-sm border-2 border-gray-600 text-gray-600"><%= p.initials %></div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-left"><%= p.full_name %></td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-left"><%= c.name %></td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-left"><%= p.jersey_number %></td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-left"><%= p.position %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>