<header>
  <nav class="bg-white shadow">
    <div class="mx-auto px-8">
      <div class="relative flex justify-between h-14">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Hamburger menu button -->
          <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>

            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>

            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex-shrink-0 flex items-center">
            <a href="/" class="text-gray-500 text-2xl tracking-tighter items-center px-1 pt-1 font-bold">TourneyChamp</a>
          </div>
          <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
            <% if current_user&.has_role?(:admin) %>
            <a href="/admin" class="border-indigo-500 text-gray-900 inline-flex items-center px-1 pt-2 text-sm font-medium"> Admin</a>
            <% end %>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
            <a href='mailto:luckymakro+gzrxpydftpm3ahxiqvgi@boards.trello.com?subject=TourneyChamp feedback from <%= "#{current_user.first_name} #{current_user.last_name}" %>'
               class="border-indigo-200 border-2 text-indigo-400 mt-1 inline-flex items-center px-1 rounded-lg text-sm font-medium">Submit Feedback</a>
          </div>

          <!-- Profile dropdown -->
          <div class="ml-3 relative">
            <% if current_user %>
            <div class="relative">
              <div class="dropdown dropdown-end">
                <% if current_user.profile_picture.attached? %>
                  <label tabindex="0" class="w-[40px] aspect-square rounded-[50%] flex justify-center items-center text-sm border-2 border-indigo-700 text-indigo-700 bg-indigo-100 hover:bg-indigo-200">
                    <%= image_tag(current_user.profile_picture, class: 'rounded-[50%] absolute top-0 bottom-0 left-0 right-0 w-full h-full object-cover object-center') %>
                  </label>
                <% else %>
                  <label tabindex="0" class="w-[40px] aspect-square rounded-[50%] flex justify-center items-center text-sm border-2 border-indigo-700 text-indigo-700 bg-indigo-100 hover:bg-indigo-200"><%= current_user.initials %></label>
                <% end %>
                <ul tabindex="0" class="menu dropdown-content p-2 shadow-xl bg-base-100 rounded-[5px] mt-4 border-2 border-indigo-100">
                  <li class="text-xs p-2 pb-0 font-bold">Logged in as:</li>
                  <li class="text-sm p-2 pt-0"><%= current_user.email %></li>
                  <hr>
                  <%= button_to 'Sign Out', destroy_user_session_path, :method => :delete, class: 'hover:bg-indigo-100 border-transparent text-indigo-700 inline-flex items-center p-2 w-full flex justify-end' %>
                </ul>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="pt-2 pb-4 space-y-1">
        <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->
        <% if current_user&.has_role?(:admin) %>
        <a href="/admin" class="bg-indigo-50 border-indigo-500 text-indigo-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"> Admin</a>
        <% end %>
        <a href='mailto:luckymakro+gzrxpydftpm3ahxiqvgi@boards.trello.com?subject=TourneyChamp feedback from <%= "#{current_user.first_name} #{current_user.last_name}" %>'
           class="bg-indigo-50 border-indigo-500 text-indigo-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium">Submit Feedback</a>
      </div>
    </div>
  </nav>
</header>
